.menu {
    background-color: #3497d1;
    padding: 1em;
    text-align: center;
    border-radius: 1mm;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.menu-hamburguer span {
    display: block;
    width: 30px;
    height: 3px;
    background-color:#0e1fbb;
    margin-bottom: 5px;
}

.menu-itens {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu-itens li {
    position: relative;
}

.menu-itens a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color:   #3497d1;
;
    padding: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15%;
}

.submenu li {
    margin-bottom: 10px;
}

.menu-itens li:hover .submenu {
    display: block;
}

@media (max-width: 768px) {
    .menu-hamburguer {
        display: block;
    }
    
    .menu-itens {
        display: none;
        flex-direction: column;
    }
    
    .menu-itens li {
        margin-bottom: 10px;
    }
    
.menu-itens.menu-aberto {
  display: flex;
  flex-direction: column;
}
    .submenu {
        position: static;
        padding-left: 20px;
    }
}

/* campos */


p {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 18px;
  color: #0e1fbb;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 10px;
}
b {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 50px;
  color: #0e1fbb;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 10px;
}

h2 {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 18px;
  color: #0e1fbb;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 10px;
}
.menu-itens li.ativo > a {
  background-color: #2c6f9e;
  border-radius: 5px;
}


.campo-inserir {
  width: 40%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #164caf;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*<div class="container-formulario"> */

.container-formulario {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caixa-mensagem {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  display: inline-block;
}


.titulo {
  /* estilos para o título */
}

.descricao {
  /* estilos para a descrição */
}


.botao-calcular {
  /* estilos para o botão de calcular */
  max-width: 30px; /* largura máxima de 800 pixels */
  width: 100%; /* largura de 100% da largura do elemento pai */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calcular {
  display: block;
  margin: 0 auto;
}
